/* stylelint-disable comment-empty-line-before declaration-empty-line-before no-descending-specificity rule-empty-line-before */
```css
/* Carousel styles added for aem-eds-test */
.carousel .carousel-slides-container {
  position: relative;
  border: 10px solid var(--light-color); /* Adjusted for light theme */
  border-radius: 10px;
}

.carousel .carousel-slides {
  display: flex;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
}

.carousel .carousel-slides::-webkit-scrollbar {
  display: none;
}

.carousel .carousel-slide {
  flex: 0 0 100%;
  scroll-snap-align: start;
  position: relative;
}

.carousel .carousel-slide .carousel-slide-image picture > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel .carousel-slide .carousel-slide-content {
  z-index: 1;
  padding: 16px;
  background-color: rgba(19, 19, 19, 0.75); /* Dark overlay */
  color: var(--background-color);
  max-width: 500px;
}

.carousel .carousel-slide-indicator button {
  background-color: var(--light-color);
  transition: background-color 0.2s, width 0.5s, border-radius 0.5s;
}

.carousel .carousel-slide-indicator button:disabled,
.carousel .carousel-slide-indicator button:hover,
.carousel .carousel-slide-indicator button:focus-visible {
  background-color: var(--link-hover-color);
  width: 25px;
  border-radius: 10px;
}

.carousel .carousel-navigation-buttons button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: rgba(19, 19, 19, 0.25);
  transition: background-color 0.2s;
}

.carousel .carousel-navigation-buttons button:hover,
.carousel .carousel-navigation-buttons button:focus-visible {
  background-color: rgba(19, 19, 19, 0.75);
}
```